{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'billing_app/dashboard.css' %}">
</head>
<body>
    <h1>Dashboard</h1>
    <a href="{% url 'add_stock' %}">Add Stock</a>
    <h2>Current Stock</h2>
    <table>
        <tr>
            <th>Material Name</th>
            <th>Quantity</th>
        </tr>
        {% for stock in current_stock %}
        <tr>
            <td>{{ stock.material_name }}</td>
            <td>{{ stock.quantity }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Recent Stock Ins</h2>
    <table>
        <tr>
            <th>Material Name</th>
            <th>Quantity</th>
            <th>Taxable Value</th>
            <th>Tax Percentage</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for stock_in in recent_stock_ins %}
        <tr>
            <td>{{ stock_in.m_id.material_name }}</td>
            <td>{{ stock_in.quantity }}</td>
            <td>{{ stock_in.taxable_value }}</td>
            <td>{{ stock_in.tax_percentage }}</td>
            <td>{{ stock_in.amount }}</td>
            <td>{{ stock_in.date }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Recent Bills</h2>
    <a href="{% url 'sell' %}">Sell</a>
    <table>
        <tr>
            <th>Invoice Number</th>
            <th>Material Name</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Print</th>
        </tr>
        {% for bill in recent_bills %}
        <tr>
            <td>{{ bill.invoice_number }}</td>
            <td>{{ bill.m_id.material_name }}</td>
            <td>{{ bill.date }}</td>
            <td>{{ bill.quantity }}</td>
            <td>{{ bill.rate }}</td>
            <td>{{ bill.grand_total }}</td>
            <td><a href="{% url 'print_bill' bill.pk %}">Print</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
